{% extends 'template_base.html' %}
{% load static %}
{% block titre %}accuel{% endblock %}
{% block contenu %}
    <h2>Presentation</h2>
    <p>
        L'objectif principal de l'exercice global est de permettre aux étudiants de comprendre le développement backend et d'être capables d'utiliser
des techniques et des outils de développement backend pour développer des logiciels. Dans un premier temps, les élèves recueilleront des données
sur certaines de leurs habitudes alimentaires quotidiennes. Par la suite, ils utiliseront ces données pour concevoir et développer une application Web
décrivant les aliments qu'ils consomment quotidiennement et les impacts que ces aliments peuvent avoir sur leur santé.
    </p>
{% endblock %}